

@keyframes OpenMenu {
    from {
        top: -100vh;
    }
    to {
        top: 0;
    }
}

#menu.openMenu {
    animation: OpenMenu 0.7s linear forwards;
}



@keyframes CloseMenu {
    from {
        top: 0;
    }
    to {
        top: 100vh;
    }
}

#menu.closeMenu {
    animation: CloseMenu 0.7s linear forwards;
}


@keyframes OpenCart {
    from {
        right: -38vw;
    }
    to {
        right: 0;
    }
}


#cart.openCart {
    animation: OpenCart 0.7s linear forwards;
}